In [1]:
#1+
import random
a=[random.randint(1, 10) for i in range(10)]
print(a)
n=int(input('Введите число: '))
def f(a,n):
    b=[]
    for i in a:
        if i%n==0:
            b.append(i)
    return b
print(f(a,n))

[7, 10, 6, 7, 9, 7, 5, 1, 2, 4]
Введите число: 2
[10, 6, 2, 4]

In [2]:
#2
import random
a=[random.randint(1, 10) for i in range(10)]
print(a)
def f(a):
    b=[]
    for i in range(len(a)):
        if (i+1) %5 == 0:
            b.append(a[i]*2)
        if (i+1) %3 != 0:
            b.append(a[i])        
    return b
print(f(a))

[2, 3, 9, 1, 8, 9, 5, 10, 9, 10]
[2, 3, 1, 16, 8, 5, 10, 20, 10]

In [5]:
#3+
import random
a=[random.randint(1, 10) for i in range(10)]
print(a)
n=int(input('Введите число: '))
def f(a,n):
    sum=0
    for i in a:
        if i==n:
            sum+=1
    return sum
print(f(a,n))

[7, 9, 3, 4, 2, 6, 2, 10, 10, 8]
Введите число: 4
1

In [6]:
#4+
import random
a=[random.randint(1, 10) for i in range(9)]
print(a)
def f(c):
    b=[]
    i = 0
    for j in range(int(len(c)/3)):
        a=c[i:i+3]
        b.extend(a[::-1])
        i+=len(a)
    return b
print(f(a))

[7, 2, 3, 3, 10, 8, 9, 1, 7]
[3, 2, 7, 8, 10, 3, 7, 1, 9]

In [7]:
#5+
import random
a=[random.randint(1, 10) for i in range(10)]
b=[random.randint(1, 10) for i in range(10)]
print(a)
print(b)
def f(a,b):
    c=[]
    for i in range(len(a)):
        c.append(a[i]-b[i])
    return c
print(f(a,b))

[10, 9, 4, 3, 4, 6, 4, 7, 2, 10]
[3, 6, 5, 9, 8, 3, 3, 5, 9, 9]
[7, 3, -1, -6, -4, 3, 1, 2, -7, 1]

In [8]:
#6+
import random
a = [random.randint(1, 10) for i in range(10)]
print(a)
def f(a):
    b=[]
    works=[]
    for i in a:
        if i in works:
            continue
        b.append(a.count(i))
        works.append(i)
    return b
print(f(a))

[5, 3, 7, 4, 6, 9, 1, 1, 3, 6]
[1, 2, 1, 1, 2, 1, 2]

In [9]:
#7+
import random
a=[random.randint(-10, 10) for i in range(10)]
print(a)
def f(a):
    return sorted([i for i in a if i > 0])
print(f(a))

[9, 7, 3, -1, 6, -6, 5, 1, 2, 3]
[1, 2, 3, 3, 5, 6, 7, 9]

In [10]:
#8+
n=int(input('Введите число: '))
a=list(range(0,n-2))
print('Исходный список:', a)
def f(n,a):
    b = list()
    for i in range(0, n):
        if i not in a:
            b.append(i)
    return b
print(f(n,a))

Введите число: 3
Исходный список: [0]
[1, 2]

In [11]:
#2.1
import numpy as np
import pandas as pd

data=pd.read_csv("https://raw.githubusercontent.com/junaart/ForStudents/master/Big_Data/Seminar_4/data_1.csv")
display(data)

,ФИО,Дата рождения,Пол,Дата приема на работу,Оклад,Семейное положение,Кол-во детей
0,Алистратов А.А.,27.10.1975,м,08.09.1997,4000,женат,1.0
1,Анохин Н.И.,11.12.1948,м,23.05.1986,5000,разведен,1.0
2,Антонова И.П.,04.12.1951,ж,09.05.1988,4300,замужем,1.0
3,Артемова Г.А.,06.08.1979,ж,05.09.1997,4500,незамужем,NaN
4,Афоничева Л.К.,09.01.1952,ж,05.10.1985,4900,замужем,1.0
...,...,...,...,...,...,...,...
95,Шафеева Н.К.,29.07.1939,ж,09.12.1985,4500,замужем,1.0
96,Шиманюк Н.И.,06.11.1979,м,23.11.1998,4000,холост,NaN
97,Элиава Т.М.,19.05.1981,м,10.09.1997,3700,холост,NaN
98,Якимова Н.М.,16.05.1973,ж,07.09.1999,3000,замужем,2.0
99,Яфарова Т.Н.,04.09.1945,ж,21.03.1986,4000,замужем,2.0